.two-grid {
  columns: 1 auto;
}

@media screen and (min-width: 710px) {
  .two-grid {
    columns: 2 auto;
  }
}

.two-grid > div {
  border-color: #666;
  border-left: solid #666 4px;
  padding-left: 8px;
  margin: 8px 0;
  transition: border-color 125ms;
}

.two-grid > div:hover {
  border-color: var(--md-accent-fg-color);
}

.two-grid > div > a:hover {
  color: var(--md-typeset-a-color);
  text-decoration: underline;
}

.md-header::after {
  display: block;
  padding-top: 10px;
  padding-bottom: 10px;
  content: "This is an archived copy of Natsuneko's docs for reference purposes only. These products are deprecated and unsupported, please do not contact Natsuneko for support.";
  background-color: rgb(255 23 68 / 51%);
  text-align: center;
  font-size: .7rem;
}